$primary-ff: "Montserrat", sans-serif;
$secondary-ff: "Open Sans", sans-serif;
$web-red: #f11a1a;
$web-black: #666666;
$web-dark: #1d1d1d;

:root {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-ff;
}

body {
  min-width: 325px;
}

@mixin heading() {
  font-size: clamp(1.56rem, calc(1.45rem + 0.54vw), 1.88rem);
  color: $web-dark;
  font-weight: 500;
  text-transform: capitalize;
}

@mixin heading_second() {
  font-size: clamp(1.25rem, calc(1.14rem + 0.54vw), 1.56rem);
  color: $web-dark;
  font-weight: 500;
  text-transform: capitalize;
}

@mixin paragraph() {
  font-size: clamp(0.88rem, calc(0.83rem + 0.22vw), 1rem);
  color: $web-black;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* ------------------------------------------------------------------------------
 # preloader style
 ------------------------------------------------------------------------------ */
#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 10000;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

/* ------------------------------------------------------------------------------
 # navbar style
 ------------------------------------------------------------------------------ */
.header {
  width: 100%;
  background: none;
  padding: 10px 0;
  transition: ease 0.5s;

  nav {
    .navbar-brand {
      margin-right: 40px;

      img {
        width: clamp(6.25rem, calc(6.03rem + 1.09vw), 6.88rem);
        // 110 to 100
      }
    }

    .navbar-toggler {
      border: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      i {
        font-size: 1.9rem;
        color: $web-black;
      }
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          color: $web-black;

          .active {
            color: #16b33d;

            &::after {
              transform: scalex(1);
              transform-origin: left;
              width: 100%;
            }
          }

          a {
            @include paragraph();
            font-weight: 500;

            &::after {
              content: "";
              width: 0%;
              height: 2px;
              background: #16b33d;
              display: block;
              transform-origin: right;
              transform: scaleX(0);
              margin: auto;
              transition: transform 400ms;
            }

            &:hover::after {
              transform: scalex(1);
              transform-origin: left;
              width: 100%;
            }

            &:hover {
              color: #16b33d;
            }

            &:active {
              color: #16b33d;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    nav {
      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            a {
              margin-left: 10px;

              &:hover::after {
                transform: scalex(0);
                width: 0%;
              }
            }

            .active {
              &::after {
                transform: scalex(0);
                width: 0%;
              }
            }
          }
        }
      }
    }
  }
}

/* ------------------------------------------------------------------------------
 # login signup style
 ------------------------------------------------------------------------------ */
#login-signup {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;

  .form-login_Signup {
    margin-bottom: 80px;
    width: 440px;
    padding: 15px;
    @include paragraph();
    font-weight: 500;

    .top_content {
      margin-bottom: 30px;

      i {
        color: #3d3d3d;
        font-size: clamp(2.19rem, calc(2.08rem + 0.54vw), 2.5rem);
        // 40 to 30
      }

      h1 {
        @include heading_second();
        letter-spacing: 1px;
        color: #16b33d;
      }
    }

    .form-floating {
      &:focus-within {
        z-index: 2;
      }

      input {
        margin: 20px 0;
        width: 100%;
        box-sizing: border-box;
        background: none;
        border: 1px solid #c4c4c4;
        border-radius: 4px;
        transition: all 0.15s ease;

        &:hover {
          border: 1px solid #131313;
        }

        &:focus {
          border: 1px solid #16b33d;
          outline: none;
          box-shadow: none;
        }
      }

      label {
        color: $web-black;
      }
    }

    .password_input-wrapper {
      position: relative;

      #eye-icon {
        z-index: 2;
        position: absolute;
        right: 5%;
        transform: translate(0, -50%);
        top: 54%;
        cursor: pointer;
        color: #dadada;
        font-size: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
        // 24 to 20
        transition: all 0.3s ease;

        &:hover {
          color: #999999;
        }
      }
    }

    .form-check {
      margin-top: 5px;

      label {
        cursor: pointer;
      }

      input {
        border-radius: 0;
        cursor: pointer;
        border-radius: 1px;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        *:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    input[type="submit"] {
      @include paragraph();
      color: #fff;
      background-color: #16b33d;
      border-radius: 3px;
      font-weight: 500;
      letter-spacing: 1px;
      margin: 25px 0px 15px 0px;
      border: none;
      box-shadow: 0px 1px 3px rgb(78, 78, 78);
      transition: all 0.15s ease;

      &:hover {
        background-color: #09b634;
        box-shadow: 0px 1px 3px rgb(78, 78, 78),
          0px 1px 5px rgba(78, 78, 78, 0.137);
      }

      &:active {
        opacity: 0.8;
      }
    }

    .pc_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;

      .login_container {
        text-align: right;
      }

      a {
        text-decoration: none;
      }

      span {
        color: #16b33d;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .bottom_content {
      font-size: 14px;
      margin-top: 50px;
      color: #858585;

      a {
        color: #858585;
      }
    }
  }
}
