:root {
  --slogan: clamp(1.63rem, calc(1.32rem + 1.52vw), 2.5rem);
  --paragraph: clamp(1rem, calc(0.87rem + 0.65vw), 1.38rem);
  --button-0: clamp(1.13rem, calc(0.95rem + 0.87vw), 1.63rem);
  --button-1: clamp(1.94rem, calc(1.44rem + 2.17vw), 3.17rem);
  --hero-img: clamp(6.25rem, calc(-2.45rem + 43.48vw), 31.25rem);
  --hero-padding: clamp(0.63rem, calc(-3.48rem + 17.39vw), 10rem);
  --nav-logo: clamp(5.63rem, calc(4.97rem + 3.26vw), 7.5rem);
  --nav-space-1: clamp(1.25rem, calc(0.6rem + 3.26vw), 3.13rem);
  --nav-space-2: clamp(1.88rem, calc(0.35rem + 7.61vw), 6.25rem);
  --nav-space-3: clamp(0.94rem, calc(0.5rem + 2.17vw), 2.19rem);
  --nav-f-size-1: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --nav-f-size-2: clamp(1.25rem, calc(0.92rem + 1.63vw), 2.19rem);
  --nav-padding: clamp(0.5rem, calc(0.35rem + 0.76vw), 0.94rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

header {
  background: url("/bg.svg");
  background-size: cover;
}

nav {
  background-color: #df1212;
  height: 10vh;
  width: 100%;
}

.container {
  max-width: min(90%, 1400px);
  margin: auto;
}

.hero {
  padding: var(--hero-padding) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero .hero-copy {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero .hero-copy h1 {
  font-size: var(--slogan);
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.hero .hero-copy p {
  font-size: var(--paragraph);
}
.hero .hero-copy .buttons_wrapper {
  width: 70%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-copy .buttons_wrapper .action_b {
  font-size: var(--button-0);
  font-weight: 600;
  text-transform: capitalize;
  color: #df1212;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  cursor: pointer;
}
.hero .hero-copy .buttons_wrapper button {
  padding: 0.6rem 2rem;
  border: 2px solid #df1212;
  border-radius: 4px;
  background: none;
}
.hero .hero-copy .buttons_wrapper div {
  display: flex;
  gap: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.hero .hero-copy .buttons_wrapper div i {
  font-size: var(--button-1);
  font-weight: normal;
  margin-right: 10px;
}
.hero .hero-image {
  display: flex;
  gap: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.hero .hero-image img {
  width: var(--hero-img);
  filter: drop-shadow(10px 10px 50px #616161);
}

@media (max-width: 750px) {
  header {
    background: url("/mobilebg.svg");
    background-size: cover;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .hero .hero-copy {
    align-items: center;
    text-align: center;
  }
  .hero .hero-copy .buttons_wrapper {
    justify-content: center;
  }
  .hero .hero-image {
    justify-content: center;
  }
  .hero .hero-image img {
    margin: 5rem 0 3rem 0;
    width: 70%;
  }
}
@media (max-width: 400px) {
  .hero .hero-copy {
    margin-top: 20px;
  }
  .hero .hero-copy .buttons_wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .hero .hero-image img {
    margin: 2rem 0 1rem 0;
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */