img {
  width: 100%;
}

header {
  background: #f0f0f0;
  background-size: cover;
  overflow: hidden;

  .follow-us-on {
    z-index: 100;
    @include flexBox(0, row, center, center);

    div {
      @include flexBox(1rem, row, center, flex-end);
      background-color: #fff;
      padding: 0.2rem 1rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0 0px 15px #b6b6b6;

      .bi {
        font-size: 2.5rem;
        color: $web-black;
        transition: all 0.15s ease;
      }

      .bi-facebook {
        &:hover {
          color: #3b5998;
        }
      }

      .bi-whatsapp {
        &:hover {
          color: #25d366;
        }
      }

      .bi-twitter {
        &:hover {
          color: #00acee;
        }
      }
    }
  }
}

.container {
  max-width: min(90%, 1400px);
  margin: auto;
}

.hero {
  padding: var(--hero-padding) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .hero-copy {
    @include flexBox(0.8rem, column, center, flex-start);

    h1 {
      font-size: var(--slogan);
      font-weight: 500;
      width: 80%;
      text-transform: capitalize;
    }

    p {
      font-size: var(--paragraph);
      color: $web-black;
    }

    .buttons_wrapper {
      margin-top: 10px;
      width: 55%;
      @include flexBox(2rem, row, space-between, center);

      .action_b {
        font-size: var(--paragraph);
        font-weight: 600;
        text-transform: capitalize;
        color: $web-red;
        min-width: max-content;
        cursor: pointer;
        transition: all 0.15s ease;
        &:hover {
          opacity: 0.9;
        }
      }

      .order-btn {
        z-index: 1;
        padding: 0.6rem 2rem;
        border: 2px solid $web-red;
        border-radius: 24px;
        background: $web-red;
        color: #fcfcfc;

        &:hover {
          box-shadow: 0px 1px 10px #ff8989;
        }
      }

      div {
        @include flexBox(10px, row, flex-start, center);

        i {
          font-size: var(--youtube-icon-size);
          font-weight: normal;
        }
      }
    }
  }

  .hero-image {
    @include flexBox(0, row, flex-end, center);

    img {
      width: var(--hero-img);
      filter: drop-shadow(10px 10px 30px #969696);
    }
  }
}
