@mixin flexBox($gap, $direction, $justify, $align) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  min-width: 325px;
}

header {
  background: #f0f0f0;
  background-size: cover;
  overflow: hidden;

  .follow_us {
    z-index: 100;
    @include flexBox(0, row, center, center);

    div {
      @include flexBox(clamp(0.63rem, calc(0.49rem + 0.65vw), 1.00rem), row, center, flex-end);
      background-color: #fff;
      padding: clamp(0.13rem, calc(0.10rem + 0.11vw), 0.19rem) clamp(0.63rem, calc(0.49rem + 0.65vw), 1.00rem);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0 0px 15px #b6b6b6;

      .bi {
        font-size: clamp(1.38rem, calc(0.98rem + 1.96vw), 2.50rem);
        color: $web-black;
        transition: all 0.15s ease;
      }

      .bi-facebook {
        &:hover {
          color: #3b5998;
        }
      }

      .bi-whatsapp {
        &:hover {
          color: #25d366;
        }
      }

      .bi-twitter {
        &:hover {
          color: #00acee;
        }
      }
    }
  }
}

.hero {
  padding: clamp(5.63rem, calc(4.10rem + 7.61vw), 10.00rem) 15px clamp(1.25rem, calc(-0.49rem + 8.70vw), 6.25rem) 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .hero-copy {
    @include flexBox(0.8rem, column, center, flex-start);

    h1 {
      font-family: $secondary-ff;
      font-size: var(--heading-fs);
      font-weight: 500;
      width: 80%;
      text-transform: capitalize;
    }

    p {
      font-size: var(--paragraph-fs);
      color: $web-black;
    }

    .buttons_wrapper {
      margin-top: 10px;
      width: 55%;
      @include flexBox(2rem, row, space-between, center);

      .action_b {
        font-size: var(--paragraph-fs);
        font-weight: 600;
        text-transform: capitalize;
        color: $web-red;
        min-width: max-content;
        cursor: pointer;
        transition: all 0.15s ease;
        &:hover {
          opacity: 0.9;
        }
      }

      .order-btn {
        z-index: 1;
        padding: 0.6rem 2rem;
        border: 2px solid $web-red;
        border-radius: 24px;
        background: $web-red;
        color: #fcfcfc;

        &:hover {
          box-shadow: 0px 1px 15px rgba(255, 22, 22, 0.644);
        }
      }

      div {
        @include flexBox(10px, row, flex-start, center);

        i {
          font-size: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
          font-weight: normal;
        }
      }
    }
  }

  .hero-image {
    @include flexBox(0, row, flex-end, center);

    img {
      width: clamp(6.25rem, calc(-2.45rem + 43.48vw), 31.25rem);
      filter: drop-shadow(10px 10px 30px #6161619d);
    }
  }
}

@media (max-width: 750px) {
  .hero {
    grid-template-columns: 1fr;

    .hero-copy {
      align-items: center;
      text-align: center;

      .buttons_wrapper {
        justify-content: center;
      }
    }

    .hero-image {
      justify-content: center;

      img {
        margin: 5rem 0 3rem 0;
        width: 70%;
      }
    }
  }
}

@media (max-width: 400px) {
  .hero {
    .hero-copy {
      margin-top: 20px;

      .buttons_wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
      }
    }

    .hero-image {
      img {
        margin: 2rem 0 1rem 0;
        width: 90%;
      }
    }
  }
}
