nav {
  width: 100%;
  background: #f0f0f0;
  font-family: $secondary-ff;
  font-size: var(--paragraph-fs);
  font-weight: 500;

  .navbar-brand {
    padding-right: 30px;

    img {
      width: clamp(6.88rem, calc(6.44rem + 2.17vw), 8.13rem);
    }
  }

  .navbar-toggler {
    border: none;
    background: none;

    &:focus {
      box-shadow: none;
      border: none;
    }

    i {
      font-size: clamp(1.88rem, calc(1.66rem + 1.09vw), 2.50rem);
    }
  }

  .nav_links {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .navbar-nav {
      .nav-item {
        padding: 0 10px;
      }
    }

    form {
      button {
        border: none;
        // margin-right: 30px;
        background: none;

        i {
          font-size: clamp(1.56rem, calc(1.35rem + 1.09vw), 2.19rem);
          color: #4a4a4b;
        }

        .bi-cart4{
          margin-left: 10px;
        }

        .bi-person-circle {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  nav {
    .nav_links {
      flex-direction: column;
    }
  }
}
