:root {
  --heading-fs: clamp(1.88rem, calc(1.66rem + 1.09vw), 2.5rem);
  --paragraph-fs: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* ------------------------------------------------------------------------------
 # section heading style
 ------------------------------------------------------------------------------ */
.section_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: clamp(1.25rem, 0.64rem + 3.04vw, 3rem) 0;
  padding-top: clamp(1.5rem, 0.98rem + 2.61vw, 3rem);
  text-align: center;
}
.section_heading h3 {
  font-size: var(--paragraph-fs);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333333;
}
.section_heading h1 {
  font-size: var(--heading-fs);
  text-transform: capitalize;
}
.section_heading h1 span {
  color: rgb(27, 187, 22);
}

/* ------------------------------------------------------------------------------
 # navbar section
 ------------------------------------------------------------------------------ */
nav {
  width: 100%;
  background: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-size: var(--paragraph-fs);
  font-weight: 500;
}
nav .navbar-brand {
  padding-right: 30px;
}
nav .navbar-brand img {
  width: clamp(6.88rem, 6.44rem + 2.17vw, 8.13rem);
}
nav .navbar-toggler {
  border: none;
  background: none;
}
nav .navbar-toggler:focus {
  box-shadow: none;
  border: none;
}
nav .navbar-toggler i {
  font-size: clamp(1.88rem, 1.66rem + 1.09vw, 2.5rem);
}
nav .nav_links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .nav_links .navbar-nav .nav-item {
  padding: 0 10px;
}
nav .nav_links form button {
  border: none;
  background: none;
}
nav .nav_links form button i {
  font-size: clamp(1.56rem, 1.35rem + 1.09vw, 2.19rem);
  color: #4a4a4b;
}
nav .nav_links form button .bi-cart4 {
  margin-left: 10px;
}
nav .nav_links form button .bi-person-circle {
  margin-left: 30px;
}

@media (max-width: 991px) {
  nav .nav_links {
    flex-direction: column;
  }
}
/* ------------------------------------------------------------------------------
 # hero section
 ------------------------------------------------------------------------------ */
body {
  min-width: 325px;
}

header {
  background: #f0f0f0;
  background-size: cover;
  overflow: hidden;
}
header .follow_us {
  z-index: 100;
  display: flex;
  gap: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .follow_us div {
  display: flex;
  gap: clamp(0.63rem, 0.49rem + 0.65vw, 1rem);
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-color: #fff;
  padding: clamp(0.13rem, 0.1rem + 0.11vw, 0.19rem) clamp(0.63rem, 0.49rem + 0.65vw, 1rem);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0px 15px #b6b6b6;
}
header .follow_us div .bi {
  font-size: clamp(1.38rem, 0.98rem + 1.96vw, 2.5rem);
  color: #333333;
  transition: all 0.15s ease;
}
header .follow_us div .bi-facebook:hover {
  color: #3b5998;
}
header .follow_us div .bi-whatsapp:hover {
  color: #25d366;
}
header .follow_us div .bi-twitter:hover {
  color: #00acee;
}

.hero {
  padding: clamp(5.63rem, 4.1rem + 7.61vw, 10rem) 15px clamp(1.25rem, -0.49rem + 8.7vw, 6.25rem) 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero .hero-copy {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero .hero-copy h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--heading-fs);
  font-weight: 500;
  width: 80%;
  text-transform: capitalize;
}
.hero .hero-copy p {
  font-size: var(--paragraph-fs);
  color: #333333;
}
.hero .hero-copy .buttons_wrapper {
  margin-top: 10px;
  width: 55%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-copy .buttons_wrapper .action_b {
  font-size: var(--paragraph-fs);
  font-weight: 600;
  text-transform: capitalize;
  color: #c91212;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  cursor: pointer;
  transition: all 0.15s ease;
}
.hero .hero-copy .buttons_wrapper .action_b:hover {
  opacity: 0.9;
}
.hero .hero-copy .buttons_wrapper .order-btn {
  z-index: 1;
  padding: 0.6rem 2rem;
  border: 2px solid #c91212;
  border-radius: 24px;
  background: #c91212;
  color: #fcfcfc;
}
.hero .hero-copy .buttons_wrapper .order-btn:hover {
  box-shadow: 0px 1px 15px rgba(255, 22, 22, 0.644);
}
.hero .hero-copy .buttons_wrapper div {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.hero .hero-copy .buttons_wrapper div i {
  font-size: clamp(1.94rem, 1.77rem + 0.87vw, 2.44rem);
  font-weight: normal;
}
.hero .hero-image {
  display: flex;
  gap: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.hero .hero-image img {
  width: clamp(6.25rem, -2.45rem + 43.48vw, 31.25rem);
  filter: drop-shadow(10px 10px 30px rgba(97, 97, 97, 0.6156862745));
}

@media (max-width: 750px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero .hero-copy {
    align-items: center;
    text-align: center;
  }
  .hero .hero-copy .buttons_wrapper {
    justify-content: center;
  }
  .hero .hero-image {
    justify-content: center;
  }
  .hero .hero-image img {
    margin: 5rem 0 3rem 0;
    width: 70%;
  }
}
@media (max-width: 400px) {
  .hero .hero-copy {
    margin-top: 20px;
  }
  .hero .hero-copy .buttons_wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .hero .hero-image img {
    margin: 2rem 0 1rem 0;
    width: 90%;
  }
}
/* ------------------------------------------------------------------------------
 # about section
 ------------------------------------------------------------------------------ */
.about_section {
  padding: 0 15px;
  margin-bottom: clamp(2rem, 1.3rem + 3.48vw, 4rem);
}
.about_section .our-story_wrapper {
  padding: clamp(0.94rem, 0.61rem + 1.63vw, 1.88rem) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(1.75rem, 1.32rem + 2.17vw, 3rem);
}
.about_section .our-story_wrapper .our-story_img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 20rem;
  background: url("/assets/images/our_storyimg 1.svg");
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about_section .our-story_wrapper .our-story_img:hover {
  transform: scale(1.02);
}
.about_section .our-story_wrapper .our-story_img h3 {
  padding: 0 15px 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #dddddd;
  font-weight: 200;
  font-size: var(--paragraph-fs);
}
.about_section .our-story_wrapper .our-story_paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(0.63rem, 0.49rem + 0.65vw, 1rem);
}
.about_section .our-story_wrapper .our-story_paragraph h1 {
  font-size: clamp(1.62rem, 1.5rem + 0.58vw, 1.95rem);
  text-transform: capitalize;
}
.about_section .our-story_wrapper .our-story_paragraph p {
  font-size: var(--paragraph-fs);
  color: #333333;
}

@media (max-width: 820px) {
  .about_section .our-story_wrapper {
    grid-template-columns: 1fr;
  }
  .about_section .our-story_wrapper .our-story_paragraph {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */