#testemonial {
  background-color: #f4f3ef;
  padding: 3rem 0;

  main {
    padding: clamp(0.94rem, calc(0.61rem + 1.63vw), 1.88rem) clamp(0.31rem, calc(0.10rem + 1.09vw), 0.94rem);

    .carousel {
      .carousel-inner {
        .carousel-item {
          padding: 20px 20% 60px 20%;

          .review_wrapper {
            text-align: center;

            .user_review {
              .review_paragraph {
                font-size: 16px;
                font-weight: 500;
                color: $web-black;
              }
            }

            .user_img {
              margin-top: 40px;
              margin-bottom: 20px;

              img {
                width: 60px;
                border-radius: 50%;
              }
            }

            .user_info {
              .user_name {
                font-size: 18px;
                font-weight: 500;
                color: $web-dark;
                margin-bottom: 2px;
              }

              .user_desc {
                font-weight: 1rem;
                font-weight: 500;
                color: $web-black;
              }
            }
          }
        }
      }
    }
  }
}
